@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Noteworthy';
  src: local('Noteworthy') url('../../font/Noteworthy.ttf') format('ttf', 'woff2', 'woff', 'eot');
}

body {
  font-family: $body-font;
}