// Fonts
$body-font: 'Nunito',
sans-serif;
$logo-font: 'Noteworthy',
cursive;

// font Size
$small-text: 12px;
$medium-text: 14px;
$large-text: 16px;
$title-text: 28px;

// Color
$primary-text-color: #001933;
$alt-text-color: #DBE4EE;
$border-color: #DBE4EE;

$blue: #054A91;

// $background-light-blue: #F5F5FA;
// $background-grey: #FBFBFB;


// Buttons
$button-default-radius: 5px;
$button-height: 40px;