// Fonts
$body-font: 'Nunito',
sans-serif;
$logo-font: 'Handlee',
cursive;

// Color
$primary-text-color: #001933;
$alt-text-color: #DBE4EE;
$border-color: #DBE4EE;

$blue: #054A91;

// $background-light-blue: #F5F5FA;
// $background-grey: #FBFBFB;


// Buttons
$button-default-radius: 5px;
$button-height: 40px;