.container {
    width: 100%;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 60px;

    @media screen and (max-width: 991px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.result {
    width: 100%;
    max-width: 768px;

    &__title {
        font-size: $title-text;
        color: $primary-text-color;
        font-weight: bold;
        margin-bottom: 30px;
        text-transform: capitalize;
    }

    &__text {
        font-size: $large-text;
        line-height: 22px;
        color: $primary-text-color;
        margin-bottom: 30px;
        text-align: justify;
    }
}

.notfound {
    width: fit-content;
    text-align: center;

    &__icon {
        fill: #DBE4EE;
        // display: block;
        box-shadow: 1px 27px 8px -21px rgba(5, 74, 145, 0.13);
        -webkit-box-shadow: 1px 27px 8px -21px rgba(5, 74, 145, 0.13);
        -moz-box-shadow: 1px 27px 8px -21px rgba(5, 74, 145, 0.13);
        margin-bottom: 20px;
    }

    &__title {
        text-align: center;
        font-size: $title-text;
        font-weight: bold;
    }

    &__text {
        text-align: center;
        font-size: $medium-text;
        color: $primary-text-color;
        margin-bottom: 30px;
    }

}